.body{
    margin: 0px;
}

.background{

    width: 100%;
    height: 100vh;
    background-image:url("image/new.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}
.animal{

    height: 240px;
    margin-top: 380px;
    position: absolute;
}